textblob
pandas
scikit-learn
matplotlib
unstructured[all-docs]
langchain
openai
tiktoken
fastapi
uvicorn
pymongo
faiss-cpu
fastapi
uvicorn
itsdangerous
awswrangler
html2text
faiss-cpu
pdf2image
python-dotenv
langchain-community
docx2txt
langchain_openai
